<ion-header [translucent]="true">
  <ion-toolbar color="new">
    <ion-button slot="start" color="danger">

    <ion-back-button
    default-href="#"></ion-back-button>
    </ion-button>
    <ion-title>Product</ion-title>
    </ion-toolbar>
    </ion-header>     

    <ion-content [fullscreen]="true">
      <ion-grid class="text-center">
        <!--แถวที่1--><ion-row>
          <ion-col>
            <img src="assets/product/15promax.webp" alt="">
            <p>iPone 15 Pro max</p>
            <p>ราคา: 44,900 บาท</p>
            <ion-button size="large" expand="block" color="primary" fill="solid">
              ซื้อสินค้า
    
            </ion-button>
          </ion-col>
         
          <!--แถวที่3-->
          <ion-col>
            <img src="assets/product/f23fe.webp" alt="">
            <p>f23fe max</p>
            <p>ราคา: 44,900 บาท</p>
            <ion-button size="large" expand="block" color="primary" fill="solid">
              ซื้อสินค้า
    
            </ion-button>
          </ion-col>


          <!--แถวที่4-->
          <ion-col>
            <img src="assets/product/ipadair5.webp" alt="">
            <p>ipadair5</p>
            <p>ราคา: 44,900 บาท</p>
            <ion-button size="large" expand="block" color="primary" fill="solid">
              ซื้อสินค้า
    
            </ion-button>
          </ion-col>

          <!--แถวที่5-->
          <ion-col>
            <img src="assets/product/mi-14tpro.webp" alt="">
            <p>mi-14tpro</p>
            <p>ราคา: 44,900 บาท</p>
            <ion-button size="large" expand="block" color="primary" fill="solid">
              ซื้อสินค้า
    
            </ion-button>
          </ion-col>



<!--แถวที่6-->
<ion-col>
  <img src="assets/product/mipad5.webp" alt="">
  <p>mipad5</p>
  <p>ราคา: 44,900 บาท</p>
  <ion-button size="large" expand="block" color="primary" fill="solid">
    ซื้อสินค้า

  </ion-button>
</ion-col>






<!--แถวที่7-->
<ion-col>
  <img src="assets/product/ts9.webp" alt="">
  <p>ts9</p>
  <p>ราคา: 44,900 บาท</p>
  <ion-button size="large" expand="block" color="primary" fill="solid">
    ซื้อสินค้า

  </ion-button>
</ion-col>





<!--แถวที่8-->
<ion-col>
  <img src="assets/product/vivo-y20.png" alt="">
  <p>vivo-y20</p>
  <p>ราคา: 44,900 บาท</p>
  <ion-button size="large" expand="block" color="primary" fill="solid">
    ซื้อสินค้า

  </ion-button>
</ion-col>








          
        </ion-row>
      </ion-grid>
</ion-content>